<ol class='card-list'>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5 } %> | 03-20-2017 <br />
    <strong>Review By Bill C. in Bedford, NH</strong>
    <strong>Project: Mount TV on Wall</strong>
    <p>Very professional, well prepared and trustworthy.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5 } %> | 03-15-2017 <br />
    <strong>Review By Tim B. in New Boston, NH</strong>
    <strong>Project: Mount TV on Wall</strong>
    <p>Awesome professional service!</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5 } %> | 03-13-2017 <br />
    <strong>Review By Rick S.</strong>
    <strong>Project: Mount TV on Wall</strong>
    <p>Timothy is fantastic. He's mounted a few TV's for me, has prompt response, and does great work.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5 } %> | 01-06-2012 <br />
    <strong>Review By Doreen B. in Pepperell, MA</strong>
    <strong>Project: Install or Replace a Home Theater System or Media Center</strong>
    <p>Tim did a great job and I would highly recommend him</p>
  </li>
</ol>
